<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PS4 Wallpaper Helper</title>
    <style>
      body {
        margin: 0;
      }
      #app img{
        display: block;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <img src="/img">
    </div>
  </body>

  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script>
    var ws = io.connect('/ws');
    ws.on('refresh',function(){
      location.reload();
    });
  </script>
</html>
