<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PS4 Wallpaper Helper</title>
    <link rel="stylesheet" href="/css/element.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="app" v-cloak>
      <header>
        <h1>{{i18n('title')}}</h1>
        <div class="right">
          <el-tooltip effect="dark" placement="bottom" v-model="githubTooltip" transition="transdown">
            <div slot="content" class="tooltip-content" v-html="i18n('githubTooltip')">
            </div>
            <el-button @click="external('https://github.com/xingoxu/ps4-wallpaper-helper')">
              <svg aria-hidden="true" class="octicon octicon-mark-github icon-github" height="32" version="1.1" viewBox="0 0 16 16" width="32">
                <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
              </svg>
            </el-button>
          </el-tooltip>
          <el-button @click="introShowing=true">
            <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="icon-help">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/>
            </svg>
          </el-button>

          <el-dropdown trigger="click" @command="changeLang">
            <a class="language-link" href="javascript:;">
              <template v-for="(language,key,index) in languages">
                <span v-if="index"> / </span>
                <span :class="{ active: key==currentLang }">{{language.name}}</span>
              </template>
            </a>
            <el-dropdown-menu slot="dropdown" class="is-dark">
              <el-dropdown-item v-for="(language,key) in languages" :command="key">{{language.name}}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </header>
      
      <div v-loading="loading" class="relative">
        <div id="current-img">
          <span>{{i18n('currentImage')}}</span>
          <img :src="imgURL">
        </div>
        <div id="drop-zone" :class="{'drag-over': isDragging}"
        @dragover.prevent="isDragging=true"
        @drop.prevent="handleFileSelect"
        @dragenter="isDragging=true"
        @dragleave="isDragging=false">
          <span>{{i18n('dropZone')}}</span>
        </div>
      </div>

      <transition name="transup">
        <div id="intro" v-show="introShowing" @keyup.esc="closeIntro" tabindex="-1">
          <a href="javascript:;" class="close" @click="closeIntro">
            <i class="el-icon-circle-close"></i>
          </a>
          <div class="intro-slide" :style="{ transform: `translateX(-${introStep}00%)` }">
            <div v-for="(intro,index) in intros" class="intro-wrapper" key="index">
              <div class="welcome" v-if="index==0">{{i18n('welcome')}}</div>
              <div class="img">
                <img :src="`/assets/intro-${index+1}.png`">
              </div>
              <div :style="{marginTop: index==0 ? false : '20px'}">{{index+1}}. {{intro.text}}</div>
              <div class="danger" v-if="intro.warning">{{intro.warning}}</div>
            </div>
          </div>


          <el-steps :space="100" :active="introStep" finish-status="success" center style="margin-top: 20px;">
            <el-step v-for="(intro,index) in intros"></el-step>
          </el-steps>

          <transition-group name="button-group" tag="div" class="button-group">
            <el-button @click="introStep--" v-if="introStep<intros.length && introStep>0" key="last">{{i18n('intro-previous')}}</el-button>
            <el-button @click="introStep++" v-if="introStep<intros.length-1" key="next" type="info">{{i18n('intro-next')}}</el-button>
            <el-button @click="closeIntro" v-if="introStep==intros.length-1" key="complete" type="success">{{i18n('intro-complete')}}</el-button>
          </transition-group>

        </div>
      </transition>
    </div>
  </body>
  <div style="text-align: center;line-height: 20px;">© <script>document.write(new Date().getFullYear())</script> xingo</div>

  <script src="/js/vue.min.js"></script>
  <script src="/js/vue-resource.min.js"></script>
  <script src="/js/element.min.js"></script>
  <script src="/js/main.js"></script>
</html>
