<!DOCTYPE html>
<html>
  <head>
    <title>PS4 Wallpaper Helper</title>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="shortcut icon" href="<%- require('assets/logo.ico') %>" />
    <link rel="apple-touch-icon-precomposed" href="<%- require('assets/logo.png') %>">
  </head>
  <body>
    <div id="app" v-cloak>
      <header>
        <section class="language-link" >
          <template v-for="(language,key,index) in languages">
            <span v-if="index">&nbsp;/ </span>
            <a :class="{ active: key==currentLang }" @click="currentLang=key" href="javascript:;">{{language.name}}</a>
          </template>
        </section>

        <div class="title-img">
          <img src="<%- require('assets/logo.png') %>">
        </div>
        <h1>{{ i18n('title') }}</h1>
        <h2>{{ i18n('subtitle') }}</h2>
        <div class="button-group">
          <template v-if="os.win['32']">
            <a :href="links.win['32exe'].link" download>{{ links.win['32exe'].text }}</a>
          </template>
          <template v-if="os.win['64']">
            <a :href="links.win['64exe'].link" download>{{ links.win['64exe'].text }}</a>
            <a :href="links.win['647z'].link" download>{{ links.win['647z'].text }}</a>
          </template>
          <template v-if="os.mac">
            <a :href="links.mac.dmg.link">{{ links.mac['dmg'].text }}</a>
          </template>
        </div>
        <div class="show-download-button">
          <transition name="transright">
            <button @click="allDownload = true" v-show="!allDownload">{{ i18n('show-all-download') }}</button>
          </transition>
        </div>
        <div class="all-download">
          <transition name="transright">        
            <div v-show="allDownload">
              <template v-for="platform in links">
                <a v-for="linkObj in platform" :href="linkObj.link" download>{{ linkObj.text }}</a>
              </template>
            </div>
          </transition>
        </div>
        <div class="height-for-absolute"></div>
      </header>
      <div class="intro">
        <h2 v-html="i18n('3-step')"></h2>
        <div v-for="(intro,index) in intros" :class="{'intro-wrapper': true,'right': index%2==0 }" key="index">
          <div class="img">
            <img :src=" 'dist/assets/intro-'+(index+1)+'.png' ">
          </div>
          <div class="text">
            <p>{{index+1}}. {{intro.text}}</p>            
          </div>
        </div>
      </div>
      <div class="love">
        <h2>{{i18n('githubTooltip')}}</h2>
        <a :href="projectURL"  target="_blank" >Star</a>
        <div>{{starNumber}}</div>
      </div>
      <footer>
        <div class="copyright">{{new Date().getFullYear()}} <strong>xingo</strong></div>
      </footer>
    </div>
  </body>
</html>